//- jade template engine will change this code into html code
//- title variable is passed to jade file by routes/index.js
extends layout

block content
  h1= title
  h2 Airbnb 4
  p Akshaiy Ramlinkam (axj210002)
  p Harish Srinivasan (hxs200044) 
  p View all properties - http://localhost:3000/properties
  p View all reservations - http://localhost:3000/reservations
